.App {
  text-align: center;
  line-height: 10vmin;
  color: #F0FCFC;
  background-color: #414141;
  height: 10vmin;
}

.App-header {
  background-color: #B8DDDE;
  color: #414141;
  font-size: 36px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}